FYS-STK4155/FYS-STK-Gruppe/
FYS-STK4155/MachineLearning/
FYS4150/ComputationalPhysics/
FYS4150/LearningCpp/classes_in_cpp/
FYS4411/FYS4411-Gruppe/
FYS4411/tdhf-project-fys4411/
IN5400/Oblig2
.ipynb_checkpoints